.header {

    text-align: center;
    margin-top: 150px;
    color: lime;
}

.container .row {

    text-align: center;

}

.container .Score h3 {
    color: lime;
    text-align: center;
}
body{
    background-repeat: no-repeat;
    background-size: 1600px;
}
button{
    background-color: transparent;
    border-color: slategrey;
}
#IncreaseMan{
    color: limegreen;
}
#Auto{
    color: red;
}
#UpgradeAuto{
    color: yellow;
}
#UpgradeMan{
    color: lawngreen;
}